* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #ffffff;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left-img right-img right-img right-img"
                        "left-img bottom-left-img bottom-mid-img bottom-right-img";

    align-content: center;
    justify-content: center;
    gap: 1rem;

    .container{
        width: 100%;
        height: 100%;
    }

    .left{
        background-color: red;
        grid-area: left-img;
    }

    .right-top{
        background-color: green;
        grid-area: right-img;
    }

    .right-bottom-left{
        background-color: gray;
        grid-area: bottom-left-img;
    }

    .right-bottom-middle{
        background-color: hotpink;
        grid-area: bottom-mid-img;
    }

    .right-bottom-end{
        background-color: aqua;
        grid-area: bottom-right-img;
    }

    .container{
        border-radius: 10px;
        overflow: hidden;
        border: 2px solid #757171;
        img{
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        };
    }

    .container:nth-child(2){
        width: 100%;
        object-position: bottom;
        object-fit: cover;
    }

}


