@import "./customButton";


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

// Mixin : - Used to create a fuction like reusable style . It prevent from repetation.
@mixin flexCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@mixin buttonStyle($bg-col:#73b7ef, $fonts-size: 1rem){
    font-size: $fonts-size;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    border: none;
    background-color: $bg-col;
}


// # Nesting : - Used to wrte styles like html nested structure which incresase readability.
main{
    height: 100%;
    width: 100%;
    background-color: black;
    @include flexCenter(); // Uses Minin

    section{
        height: 50%;
        width: 50%;
        background-color: white;
        @include flexCenter(); // Use Mixin

        h1{
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: red;
        }

        // .btn-style{
        //     @include buttonStyle();// Use Mixin
        // }

        .btn-style2{
            @include buttonStyle(red,30px); // Use Mixin
        }


        .btn-style{
            @include buttonXz(none, 30px, rgb(0, 21, 255));// Use Partials By Importing
        }
    }
}

