@import "./style_components/custom_styles";

@font-face {
  font-family: hell;
  src: url("/HelveticaNowDisplay-Regular_5Mzhp8KlA8_CAVTbnsPOM.woff2");
}

@font-face {
  font-family: neo;
  src: url("/NeueMachina-Regular_DQCmjH1st.ttf");
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-gray-color: #d8d4d4;
  --btn-color: #54e1c0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #ffff;
  font-family: hell;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
}

header {
  width: 100%;
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-sec {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1.1rem;
    color: var(--light-gray-color);
    font-weight: 100;
    letter-spacing: 1px;

    img {
      width: 2.5em;
    }
  }

  nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2.5rem;

    a {
      font-weight: 300;
      font-size: 1.1rem;
      letter-spacing: 1px;
      color: var(--light-gray-color);
    }

    button {
      @include customButton();
    }
  }

  .menu-bar {
    display: none;
  }
}

main {
  width: 100%;
  .hero-heading {
    h1 {
      width: 100%;
      text-align: center;
      font-size: 5vw;
      margin-top: 3rem;
      font-family: neo;
      font-weight: 100;
      
      line-height: 1;

      span{
        color:var(--btn-color);
      }
    }
  }
}

@media (max-width: 1150px) and (min-width: 750px) {
  html {
    font-size: 10px;
  }

  h1{
    font-size: 3.5vw;
  }

  //    header{
  //     display: none;
  //    }
}

@media (max-width: 750px) {
  html {
    font-size: 12px;
  }

  header {
    .logo-sec {
      width: 50%;
    }
    nav {
      display: none;
    }

    .menu-bar {
      display: flex;
      gap: 1rem;
      font-size: 1.8rem;
      color: var(--light-gray-color);
    }
  }

  
}
